.publish-modal .ant-modal-title {
font-family: Plus Jakarta Sans !important;
font-size: 26px !important;
font-weight: 600 !important;
line-height: 28px !important;
text-align: center !important;
color: #2C363F !important;

}
.publish-modal .ant-modal-body {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
}