@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  /* display: none; */
}
.body{
  box-sizing: border-box;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(210, 210, 210, 0);
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: rgba(210, 210, 210, 1);
}

.overflow-auto {
  overflow: auto;
}

.overflow_cro{
  overflow: auto !important;
}

.overflow-auto::-webkit-scrollbar-thumb {
  transition: opacity 0.3s;
}

.overflow-auto:hover::-webkit-scrollbar-thumb {
  background-color: rgba(210, 210, 210, 1);
}
.overflow_cro::-webkit-scrollbar-thumb {
  transition: opacity 0.3s;
}

.overflow_cro:hover::-webkit-scrollbar-thumb {
  background-color: rgba(210, 210, 210, 1);
}
:root {
  --theme-color: #ffbf00;
  --light-theme: #fff9e5;
  --custom-gray: rgba(44, 54, 63, 1);
  --custom-light-gray: rgba(244, 244, 244, 1);
  --custom-dark-gray: rgba(140, 140, 140, 1);
  --steel-blue: rgba(67, 82, 96, 1);
  --soft-gold: rgba(255, 191, 0, 0.2);
  --pale-sunshine: rgba(255, 191, 0, 1);
  --light-yellow: rgba(244, 219, 80, 1);
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #f8f9fa;
}

.custom-list li {
  position: relative;
  padding-left: 1.5em; /* Space for the custom bullet */
  margin-bottom: 0.5em; /* Spacing between list items */
}

.custom-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.5em; /* Align the bullet vertically with the text */
  width: 0.5em;
  height: 0.5em;
  background-color: var(--theme-color); /* Custom bullet color */
  border-radius: 50%; /* Make the bullet a circle */
}
.otp_container div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.main_container {
  background-image: url("/public/assets/bg.png");
}
.react_select svg {
  fill: var(--theme-color);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.react_select input {
  height: 37px;
}
.down_icon {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.upicon {
  transform: rotate(360deg);
  transition: transform 0.3s ease;
}


.faq-collapse .ant-collapse-item {
  border: 1px solid #ddd !important;
  border-radius: 4px !important;
  margin-bottom: 20px !important;
  background-color: #FAFAFA !important;
}
.ant-collapse-item {
  background-color: #FAFAFA !important;
}
.faq-collapse.ant-collapse {
  border: none !important;
  background-color: initial !important;
}
.faq-collapse .ant-collapse-header {
  height: 53px !important;
}
.faq-collapse .ant-collapse-header-text {
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-weight: 600;
  color: #2C363F;
  text-align: left;
  
}