@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --theme-color: #ffbf00;
  --light-theme: #fff9e5;
  --custom-gray: rgba(44, 54, 63, 1);
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.custom-list li {
  position: relative;
  padding-left: 1.5em; /* Space for the custom bullet */
  margin-bottom: 0.5em; /* Spacing between list items */
}

.custom-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.5em; /* Align the bullet vertically with the text */
  width: 0.5em;
  height: 0.5em;
  background-color: var(--theme-color); /* Custom bullet color */
  border-radius: 50%; /* Make the bullet a circle */
}
.otp_container div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.main_container {
  background-image: url("/public/assets/bg.png");
}
.react_select svg {
  fill: var(--theme-color);
}

.react_select input {
  height: 37px;
}
